[Unit]
Description=osc2dmx
After=network.target

[Service]
Type=simple
Restart=on-failure
User=pi
ExecStart=/opt/osc2dmx/main.py

[Install]
WantedBy=multi-user.target
